<%= partial 'shared/price_dialog' %>

<div style="margin-top:20px;">
  <div style="color:red;">
    Falling 
  </div>
  <table class="forumTable" style="width:80%;">
    <tbody>
      <tr>
        <th style="width:20%;">name</th>
        <th>BITTREX</th>
        <th>price</th>
        <th>[track]</th>
      </tr>
      
      <% for item in @falling %>

      <tr>
        <% mname = item[:name]  %>

        <td><a href="<%= "/pump/show_pump/#{mname}" %>"><%=mname%></a></td>
        <td><a href="https://bittrex.com/Market/Index?MarketName=<%= mname %>">BITTREX</a></td>
        
        <td>
          <button class="btn_hours_price" data-hours="24" data-market="<%=mname%>">24h prices <%=mname%></button> 
        </td>

        <td style="text-align:center">
          <a href='<%= "/manage/track/#{mname}" %>'>track</a>
        </td>
        
      </tr>

      <% end%>
    </tbody>
  </table>
</div>
