<%= partial 'shared/stat_forums' %>

<%
def calc_page(resps)
	pc = resps/30
	pc+=1 if  resps%30 !=0
end
%>
<div style="margin:20px;20px;20px;20px">
 <a href='<%= "/bctalk/bot/max_responses_list/52_84_85_197_198" %>'>LOAD_52_84_85_197_198</a>
 <b><%= @title.html_safe %></b> hours back <%= @hours %>
</div>
<table class="forumTable" style="width:90%">
	<tbody>
		<tr>
			<th style="width:2%"></th>
			<th style="width:45%">Тема</th>
			<th style="width:5%">resps</th>
			<th>url</th>
			<th>pages</th>
			<th>LOAD</th>
			<th>CALC</th>
			<th>reliable</th>
			<th>stat</th>
		</tr>
		<% @threads.each_with_index do |item,ind| %>
		<tr>
			<td style="text-align:center"><%= ind+1 %></td>
			<td class="postslisttopic">
				<a href='<%= "/bctalk/thread/#{item[:tid]}/p/1" %>'><%= item[:title] %></a> 	
			</td>
				
			<td style="text-align:right"><%= item[:responses] %></td>
			<td>
				<a href='<%= item[:url] %>' target='blank' >[url]</a>
			</td>		
			<td style="text-align:right"><%= item[:pages] %></td>
			
			<td style="text-align:center">
				<a href='<%= "/bctalk/bot/load_thread/#{item[:tid]}/24" %>'>load</a>
			</td>		
			
			<td style="text-align:center">
				<a href='<%= "/bctalk/bot/calc_thread_realibility/#{@fid}/#{item[:tid]}" %>'>calc reliab</a>
			</td>			

			<td><%= item[:reliable] %></td>
			<td style="text-align:right"> <%= item[:tpages] %></td>

		</tr>
		<% end %>
	</tbody>
</table>
