<%= partial 'market_info_dialog' %>

<div style="margin-top:20px;">
  <div style="color:red;">
    Market
  </div>
  <table class="forumTable" style="width:70%;">
    <tbody>
      <tr>
        <th>name</th>
        <th>BaseVolume</th>
        <th>open buy ord</th>
        <th>open sell ord</th>
        <th>volumes</th>
      </tr>
      
      <% for item in @markets %>
      <tr>
        <td><a href='/price/day_prices/<%=item.name %>' ><%=item.name%></a></td>
        <td><%=item.BaseVolume%></td>
        <td><%=item.OpenBuyOrders%></td>
        <td><%=item.OpenSellOrders%></td>
        <td><%= item.Created.strftime("%F %k:%M ")%></td>
        <td>
            <button class="btn_show_market_info btn_style_green" data-market="<%=item.name%>">INFO</button>
        </td>
        
      </tr>
      <% end unless @pid%>
    </tbody>
  </table>
</div>
