<%= partial 'text_price_dialog' %>

<script type="text/javascript">

$(function() {
    bigTick();
    //bind_fast_buy_sell_buttons();

    $('#btn_refresh_balance').click(function() {
      $.get('/coinexchange/refresh_balance', function(data) {
          //$('#tick').html(data);
          //location.reload();
      });
    });    

    $('#btn_load_hist_trades').click(function() {
      if(!window.confirm( 'Are you sure?' )){
            return
      }

      $.get('/coinexchange/load_hist_trades', function(data) {
          alert(data);
      });
    }); 

    $('.btn_set_pump_level').click(function() {
      var mid = $(this).data('mid');
      var level = $(this).data('level');

      $.get('/coinexchange/set_pumped/',{mid:mid,level:level}, function(data) {
          alert(data);
      });
    }); 

    $('.btn_add_to_simul').click(function() {
      var mid = $(this).data('mid');

      $.get('/coinexchange/add_to_simul/',{mid:mid}, function(data) {
          alert(data);
      });
    });     
    
});

function bigTick() {
    setTimeout(bigTick,20000);

    $.get('/coinexchange/table_tick', function(data) {
        $('#tick').html(data);
        bind_tick_table();
    });
}

function bind_tick_table(){


  $('.btn_tick_table_rebalance').click(function() {
      var curr = $(this).data('curr');
      var q = $(this).prev().val();
      
      $.get("/coinexchange/rebalance",{curr:curr,quant:q},
          function(data) {
            alert(data);
      });            

  });    

  $('.btn_tick_table_simul_delete').click(function() {
      var mid = $(this).data('mid');
      
      $.get("/coinexchange/delete_from_simul",{pair:mid},
          function(data) {
            alert(data);
      });            

  });    
  
  $('.btn_tick_table_update_rate').click(function() {
      var mid = $(this).data('mid');
      
      $.get("/coinexchange/currency_tick",{pair:mid},
          function(data) {
            alert(data);
      });            

  });
}


</script>
<img src="/images/coinexchange.png" class="main-header-logo3" alt="CoinExchange.io">

<div style="margin-left:20px;">

  <button id='btn_refresh_balance' class="btn_style_red"> REFRESH BALANCE</button>
  <button id='btn_load_hist_trades' class="btn_style_red"> LOAD HIST TRADES</button>
  <button class="btn_open_orders btn_style_red" data-market="all">ALL OPENED_ORDERS</button>
</div>


<div id="tick" style="color:green;margin: 20px;20px;0px;0px">
    tick
</div>

<div style="margin-left:20px;">
  
  <div id="line_tick" style="color:green;margin-bottom: 20px;">      
  </div>  

  <div style="margin-left:20px;">
    <a href="/coinexch/trade?level=0">LEVEL0</a>
    <a href="/coinexch/trade?level=1">LEVEL1</a>
    <a href="/coinexch/trade?level=2">LEVEL2</a>
  </div>

  <div style="margin-left:20px;">
    <table class="forumTable" style="width:80%;">
        <tr>
          <th style='width:5%;'>market id</th>
          <th style='width:8%;'>name</th>
          <th style='width:40%;'>hist prices</th>
          <th style='width:12%;'>hist prices</th>
          <th style='width:12%;'>SIMUL</th>
          <th style='width:25%;'>pump</th>
          <th style='width:15%;'>URL</th>
        </tr>    

        <% @markets.each do |mm|
          mid = mm[:mid]
          mname = mm[:title]
        %> 
          <tr> 
            <td><%= mid%> </td>
            <td><%= mname %> </td>
            <td> <%= mm[:hist_prices].html_safe %></td>
            <td>
              <button class="btn_hours_price btn_style_blue" data-otype="ask" data-hours="96" data-market="<%=mname %>" data-mid="<%=mid %>">PRICE 96h <%= mname %></button> 
            </td>
            <td>
              <button class="btn_add_to_simul btn_style_green" data-mid="<%=mid%>">TO SIMUL</button>
            </td>            
            <td style="text-align:center">
              <button class="btn_set_pump_level btn_style_red" data-level='0' data-mid="<%=mid%>">pump 0</button>
              <button class="btn_set_pump_level btn_style_red" data-level='1' data-mid="<%=mid%>">pump 1</button>
              <button class="btn_set_pump_level btn_style_red" data-level='2' data-mid="<%=mid%>">pump 2</button>
            </td> 
            <td><a href="https://www.coinexchange.io/market/<%=mname%>/BTC" target='blank'>URL</a></td>

          </tr>
        <% end%>
   </table>
  </div>
</div>
