<%= partial 'shared/buy_sell_with_order_book_dialog' %>
<%= partial 'shared/orders_dialog' %>
<%= partial 'shared/text_price_dialog' %>
<%= partial 'shared/volume_dialog' %>

<script type="text/javascript">

$(function() {
    bigTick();
    lineTick();

    $('#btn_refresh_tick').click(function() {
      $.get('/trade/refresh_balance', function(data) {
          $('#tick').html(data);
          alert('done --refresh_balance');
          //bind_tick_table_rate_button();
          //location.reload();
          
      });
    });    
    $('#btn_refresh_orders').click(function() {
      if(!window.confirm( 'Are you sure?' )){
            return
      }
      $.get('/order/refresh_orders', function(data) {
          alert(data);
      });
    }); 
    
    $('.btn_open_orders').click(function() {
      var market = $(this).data('market');
      $.get('/order/load_open_orders/'+market, function(data) {
          //alert(data);
      });
    }); 


    $('.btn_set_pump_level').click(function() {
      var curr = $(this).data('curr');
      var level = $(this).data('level');

      $.get('/manage/set_pumped/',{curr:curr,level:level}, function(data) {
          alert(data);
      });
    }); 

    $('.btn_add_to_simul').click(function() {
      var curr = $(this).data('curr');

      $.get('/trade/add_to_simul/',{curr:curr}, function(data) {
          alert(data);
      });
    }); 


});

function lineTick() {
    $.get('/trade/line_tick', function(data) {
        $('#line_tick').html(data);
    });
    setTimeout(lineTick,25000);
}

function bigTick() {
    setTimeout(bigTick,30000);

    $.get('/trade/big_tick', function(data) {
        $('#tick').html(data);
        bind_tick_table_buy_sell_rate_buttons();
        bind_tick_table_simul_buttons();
    });
}


function bind_tick_table_buy_sell_rate_buttons(){

  $('.btn_tick_table_buy').click(function(ev) {
      var curr = $(this).data('curr');
      var q = $(this).next().val();

      $.get("/trade/currency_tick/"+curr, function(data) {
            $.get("/trade/fast_buy_curr",{curr:curr,quant:q},
                function(data) {
                  alert(data);
            });            

          //if(!window.confirm( data )){ return }
          //else{}
      }); 

  });   

  $('.btn_tick_table_sell').click(function() {
      var curr = $(this).data('curr');
      var q = $(this).prev().val();
      
      $.get("/trade/currency_tick/"+curr, function(data) {
          if(!window.confirm( data )){
            return
          }
          else{
            $.get("/trade/fast_sell_curr",{curr:curr,quant:q},
                function(data) {
                  alert(data);
            });            
          }
      }); //end get

  });    

  $('.btn_currency_bid_ask').click(function() {
      var curr = $(this).data('curr');
      $.get("/trade/currency_tick/"+curr,
          function(data) {
            alert(data);
      });            
  });  
}


function bind_tick_table_simul_buttons(){

    $('.btn_tick_table_delete_simul_pair').click(function() {
      var pair = $(this).data('curr');

      $.get('/trade/delete_from_simul/',{pair:pair}, function(data) {
          alert(data);
      });
    });

    bind_orders_volume();
}

</script>

<div style="margin-left:20px;">

  <button id='btn_refresh_tick' class="btn_style_red"> REFRESH BALANCE</button>
  <button id='btn_refresh_orders' class="btn_style_red"> REFRESH ORDERS</button>
  <button class="btn_open_orders btn_style_red" data-market="all">ALL OPENED_ORDERS</button>
</div>


<div id="line_tick" style="color:green;margin: 20px;20px;0px;0px">
    line_tick
</div>

<div style="margin-left:20px;">

  <table class="forumTable" style="width:80%;">
    <tbody>
      <tr>
        <th style='width:10%;'>market</th>
        <th style='width:35%;'>price history <%=PriceAnalz.time_grouped_by_20min %></th>

        <th>[BUY/SELL]</th>
        <th style='width:25%;'>SIMUL</th>
        <th>URL</th>
      </tr>
      
      <% for item in @simul 
      mname = item[:pair] 
      %>
      <tr>
        <td><b><%=mname%></b></td>
        <td><%= item[:price_history].map { |dd| '%0.1f' % dd }.join(" ").html_safe %></td>

        <td>
          <button class="btn_buy_sell_with_order_book btn_style_green" data-curr="<%=mname%>" >buy/sell <%= mname %></button>
          <button class='btn_orders_volume btn_style_green' data-update='1' data-market='<%=mname%>'>VOLUMES</button>
        </td>

        <td>
          <button class="btn_open_orders btn_style_blue" data-market="<%=mname%>">OPENS <%= mname %></button>
            <button class="btn_hist_orders btn_style_blue" data-market="<%=mname%>">HIST <%= mname %></button>
            <button class="btn_hours_price btn_style_blue" data-otype="bid" data-hours="5" data-market="<%=mname%>">prices 96h <%=item[:currency]%></button> 

        </td>
        
        <td><a href="https://bittrex.com/Market/Index?MarketName=<%= mname %>" target='blank'>Bittrex</a></td>
        
      </tr>
      <% end %>
    </tbody>
  </table>

</div>  
<% partial 'super_buy_sell_area' %>

<div id="tick" style="color:green;margin: 20px;20px;0px;0px">
    tick
</div>

<div style="margin-left:20px;">
  

  <% @tracked_data.each do |tracked|
    next unless tracked 
  %>

    <div style="margin-top:10px;">


      <div style="color:green;margin-top:10px;">
        TOP 10 rising [1h 2h 3h 4h]
        <div style="margin-top:10px;"><%= tracked[:markets].sort_by{|k,x| x[:price_history][1]}.take(10).map { |k,v| v[:name]  }.join(", ") %></div>
      </div>

      <div style="color:red;margin-top:10px;">
        <%= tracked[:title] %>
      </div>

      <table class="forumTable" style="width:90%;">
        <tbody>
          <tr>
            <th style='width:8%;'>market</th>
            <th>USDT price</th>
            <th style='width:35%;'>price history <%=PriceAnalz.time_grouped_by_20min %></th>

            <th>[BUY/SELL]</th>
            <th>SIMUL</th>
            <th>PRICE HIST</th>
            <th>ORDERS HIST</th>
            <th style='width:20%;'>PUMP LEVEL</th>
            <th>URL</th>
          </tr>
          
          <% tracked[:markets].sort_by{|k,v| v[:price_history][1]}.each do |mname, item| %>
          <tr>
            <td><b><%=mname%></b></td>

            <td><%='%0.3f' % item[:usdt_price]%></td>
      
            <td><%= item[:price_history].map { |dd| '%0.1f' % dd }.join(" ").html_safe %></td>
    
            <td><button class="btn_buy_sell_with_order_book btn_style_green" data-curr="<%=mname%>">buy <%=mname.sub('BTC-','')%></button> </td>

            <td>
              <button class="btn_add_to_simul btn_style_green" data-curr="<%=mname%>">simul <%=mname.sub('BTC-','') %></button>
            </td>

            <td><button class="btn_hours_price btn_style_blue" data-otype="bid" data-hours="24" data-market="<%=mname %>">72h <%=mname %></button> </td>

            <td><button class="btn_hist_orders btn_style_blue" data-market="<%=mname %>">hist <%=mname %></button></td>
    
            <td style="text-align:center">
              <button class="btn_set_pump_level btn_style_red" data-level='0' data-curr="<%=mname%>">pump 0</button>
              <button class="btn_set_pump_level btn_style_red" data-level='1' data-curr="<%=mname%>">pump 1</button>
              <button class="btn_set_pump_level btn_style_red" data-level='2' data-curr="<%=mname%>">pump 2</button>
            </td>            
            <td><a href="https://bittrex.com/Market/Index?MarketName=<%= mname %>" target='blank'>Bittrex</a></td>
            
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  <% end %>


</div>
